*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 16px;
    line-height: 1.6;
}
.container{
    max-width: 800px;
    margin: 50px auto;
    
}

.tab_trigger{


}

.tab_trigger ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    

}

.tab_trigger ul li{
    

}

.tab_trigger ul li label{
    position: relative;
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    min-width: 100px;
    background: #e6e6e6;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px 8px 0 0;

}

.tab_trigger ul li:nth-child(1) label{
    background: #f0f0f0;
}
.tab_trigger ul li:nth-child(2) label{
    background: #e6e6e6;
}
.tab_trigger ul li:nth-child(3) label{
    background: #d9d9d9;
}
.tab_trigger ul li:nth-child(4) label{
    background: #ccc;
}


.tab_container_wrap{


}

.tab_container_wrap input{
    position: absolute;
    width: 0;
    height:0;
    margin: 0;
    z-index: -100;
    top: -10000px;   

}

.tab_container_wrap input:checked + .tab_content_box{
    display: block;
}


.tab_content_box{
    background: #f0f0f0;
    padding: 20px;
    display: none;

}

.tab_content_box:nth-of-type(1){
    background: #f0f0f0;
   

}

.tab_content_box:nth-of-type(2){
    background: #e6e6e6;

}

.tab_content_box:nth-of-type(3){
    background: #d9d9d9;

}

.tab_content_box:nth-of-type(4){
    background: #ccc;

}

.tab_content_box h2{
    margin: 0 0 20px;

}

